/.cache
/.config
/.idea
/.reports
/.local
/.sonar
/.public
/.scannerwork
/.vscode
/vendor
composer.phar
composer.lock
.DS_Store
Thumbs.db
tinyframework.phar
.phpunit.result.cache
.phpstorm.meta.php

/app
/public
/resources
/routes
/src/Files/storeage
/src/Files/public
/storage
/console
