parameters:
    tmpDir: /tmp/phpstan
    #editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    dynamicConstantNames:
        - SWOOLE
    ignoreErrors:
        - '#Negated boolean expression is always false\.#'
        - '#Constant TIDEWAYS_#'
        - '#has invalid type Composer\\Script\\Event\.#'
        - '#Call to an undefined method AMQPConnection::setConnectionName#'
        - '#Used function Swoole\\.*#'

    level: 6
    paths:
        - src
