includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    #- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    tmpDir: /tmp/phpstan
    #editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    treatPhpDocTypesAsCertain: false
    dynamicConstantNames:
        - SWOOLE
    ignoreErrors:
        - '#is never assigned null so it can be removed from the property type.#'
        - '#of anonymous function has typehint with deprecated#'
        - '#has invalid type Composer\\Script\\Event\.#'
        - '#Result of && is always false#'
        - '#Right side of && is always false#'
        - '#Ternary operator condition is always true#'
        - '#If condition is always true#'
        - '#Used function Swoole\\.*#'
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
        -
            message: '#Unreachable statement - code above always terminates#'
            path: src/Http/SwooleServer.php
        -
            message: '#Constructor of class TinyFramework\\Broadcast\\SwooleBroadcast has an unused parameter \$config\.#'
            path: src/Broadcast/SwooleBroadcast.php
        -
            message: '#Call to function is_object\(\) with stdClass will always evaluate to true.#'
            path: src/Mail/IMAP.php

    level: 6
    paths:
        - src
